@use '../../assets/styles/Variables.scss' as v;

.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
  
.inputLabel {
    color: v.$Colors-light-purple;
    font-family: v.$font-Poppins;
    font-size: v.$h6;
}




  
.inputField {
    
    border: 1px solid v.$black ;
    width: v.$w-input !important;
    padding: v.$pad-input;
    border-radius: v.$br-input;

}

.default{
    border: 1px solid v.$gray !important;
}
  

.focus {
    border: 1px solid v.$black !important; 
}
  

.error {
    border: 1px solid v.$red !important;
}
  
.errorMessage {
    color: v.$red;
    font-size: v.$h6;
    font-family: v.$font-Poppins;
}
  