@use '../../assets/styles/Variables.scss' as v;

.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 1rem;
}
  
.inputLabel {
    color: v.$Colors-light-purple;
    font-family: v.$font-Poppins;
    font-size: v.$h6;
}

.inputFieldContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    align-items: flex-start;
}

.inputField {
    position: relative;
    border: 1px solid v.$black ;
    width: v.$w-input !important;
    padding: v.$pad-input;
    border-radius: v.$br-input;

}
.inputIcon{
    position:relative;
    width: fit-content;
}
.eyeIcon{
    position:absolute;
    right:0;
    margin-right: 10px;
    margin-top: 8px;
    border:none;
    background: none;
    cursor: pointer;
}



.default{
    border: 1px solid v.$gray !important;
}
  

.focus {
    border: 1px solid v.$black !important; 
}
  

.error {
    border: 1px solid v.$dark-red !important;
}
  
.errorMessage {
    color: v.$dark-red; 
    font-size: v.$h6;
    font-family: v.$font-Poppins;
}
  