@use '../../assets/styles/Variables.scss' as v;

.reset-password-container {
    padding:38px 40px;
    height: 100vh;
}

.reset-password-container-background{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
    align-items: center;
}

.reset-password-container-background-form{
    grid-column: 1 / 6;
}

.reset-password-container-background-form-input{
    display: flex;
    flex-direction: column;
    gap: 10px;

    .reset-password-container-background-form-input-input{
        grid-column: 1 / 3;
    }
}

.reset-password-container-background-image{
    grid-column: 7/13;
    position: relative;
    bottom: 0;
    right: 0;
    height: 782px;
}

.reset-password-container-background-image-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.reset-password-container-background-form{
    display: flex;
    flex-direction: column;
    gap: 20px;

    .reset-password-container-background-form-title{
        display: flex;
        flex-direction: column;
        gap: 10px;
        .reset-password-container-background-form-title-text{
            font-size: v.$h2;
            font-weight: 700;
        }
        .reset-password-container-background-form-subtitle-text{
            font-size: 16px;
            font-weight: 400;
        }
    }

    .reset-password-container-background-form-title-text{
        font-size: v.$h6;
        font-weight: 400;
    }
}

