// FONT-FAMILY

$font-Poppins: "Poppins", sans-serif;



// COLOR
$Colors-light-purple:#A59ACA;
$gray:#868686;
$black:#020202;
$red:#FF0000;




// FONT-SIZE

$h6:16px;



// SCALE

$w-input:240px;
$pad-input: 6px 10px;
$br-input:5px