// FONT-FAMILY

$font-Poppins: "Poppins", sans-serif;



// COLOR
$Colors-light-purple:#A59ACA;
$Colors-dark-purple:#7F62E3;
$gray:#868686;
$black:#020202;
$light-red:#FF7777;
$dark-red:#FF0000;




// FONT-SIZE

$h6:16px;
$label-btn:16px;



// SCALE

$w-input:240px;
$pad-input: 6px 10px;
$br-input:5px;
$w-btn:240px;
$pad-btn:5px;
$br-btn:5px;
$margin-icon-input:10px;